.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.table-container {
  width: 30.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.table-button {
  border: none;
  width: 10rem;
  height: 10rem;
  background-color: #bbb6df;
  cursor: pointer;
}

.table-button-hover:hover {
  background-color: #c6c8ee;
}

.table-button-disactive {
  cursor: not-allowed;
}

.player-button {
  width: 10rem;
  height: 10rem;
  margin-right: 0.5rem;
  background-color: #bbb6df;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.player-button:hover {
  background-color: #c6c8ee;
}

.restart-match-button {
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #bbb6df;
  border: none;
  cursor: pointer;
}

.restart-match-button:hover {
  background-color: #c6c8ee;
}
